<div>
  <input ng-model="userinput">
  <input type="button" ng-click="echo()" value="Simulate Expensive task" />
  <img ng-show="loading" src="styles/loader.gif">
  <p>Service Echoed: <pre> {{service_says}}</pre></p>
</div>
<div id="animated" style="width:100px; height:50px; background:blue; color:white; line-height:1em; width:100%;">Simulated UI Work</div>
<script>
  var animatedObj = $('#animated');
  var oddIteration = true;
  function theAnimation() {
    oddIteration = !oddIteration;
    var height = (oddIteration) ? "4em":"1em";
    animatedObj.animate({
      height:height,
    }, 500);
  }
  setInterval(theAnimation, 500);
  theAnimation();
</script>
